---
name: CI/CD

"on":
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  # Run validation on all branches (develop, main, and PRs)
  validate:
    name: Validate Module
    uses: slauger/github-workflows/.github/workflows/puppet-module-validate.yml@main
    with:
      skip-pdk: true

  # Only run release when pushing to main/master
  release:
    name: Release Module
    # Only run on main/master branch (not on PRs or develop)
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
    permissions:
      contents: write
      issues: write
      pull-requests: write
    uses: slauger/github-workflows/.github/workflows/puppet-module-release.yml@main
    secrets: inherit
